.con-all{
    margin-top: 215px;
    height: max-content;
    width: 100%;
    
}
.con-all .top-category{
    width: 100%;
    background-color: #E9ECEF;
    display: flex;
    align-items: center;
}
.con-all .top-category p{
    padding: 10px 12px;
    font-size: 14px;
    color: #977ABA;
}
.con-all .categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.con-all .categories >div{
    width: 32%;
}
.con-all .category{
    min-height: max-content;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin: 10px 15px;
}
.con-all .category .img-cat{
    background-color: #ddd;
    height: 160px;
    width: 100%;
}
.con-all .txt-cat{
    padding: 7px;
}
.con-all .txt-cat h2{
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.con-all .txt-cat h2:hover{
    color: #977ABA;
}

@media screen and (max-width :1020px) {
    .con-all{
        margin-top: 65px;
    }
    .m-con{
        width: 100%;
    }
    .con-all .top-category p{
        padding: 10px 20px;
    }
    .con-all .categories{
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
    .con-all .categories >div{
        width: 95%;
    }
    .con-all .categories .categories1 >div{
     width: 100%;
     padding: 0;margin: 10px 0;
    }

}