.con-profile{
    margin-top: 215px;
    height: max-content;
    width: 100%;
}
.con-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
.con-profile .flex-left{
    flex: 60%;
    height: 100%;
}
.con-profile .flex-right{
    flex: 30%;
    height: 500px;
}
.con-profile .flex-right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #977ABA;
}
.con-profile .c{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100px;
    border-radius: 15px;
    color: white;
    padding: 15px;
    margin: 20px 0;
    cursor: pointer;
}
.con-profile .c:hover{
    background-color: #C1AFD6;
}
.con-profile .active{
    background-color: #C1AFD6;
}
.con-profile .div-icon{
    position: relative;
    flex: 1;
}
.con-profile .div-icon .icon{
    font-size: 28px;
    margin: 0 5px;
}

.con-profile .detals{ 
    flex: 8;
}

.con-profile .detals h2{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.con-profile .detals p{
    font-size: 14px;
    font-weight: 100;
}
.con-profile .left-top{
    padding: 20px 10px;
    background-color: #D9D9D9;
}
.con-profile .left-top p{
    font-size: 14px;
    color: #977ABA;
}
.con-profile .inputs{
    padding: 15px 25px ;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}
.con-profile .input{
    width: 45%;
    margin: 10px 0;
}
.con-profile .input input{
    width: 100%;
    font-size: 14px;
    padding: 5px  7px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 7px;
    
}
.con-profile .input input:focus{
    border: 1px solid transparent; 
    outline: none !important;
    border-inline: calc(8/5);
    
}
.con-profile label{
    font-size: 14px;
}
.con-profile .save{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}
.con-profile .check input {
    margin: 0 5px;
}
.con-profile .check input:checked {
    outline: none;
    border: none;
}
.con-profile .sub{
    background-color: #977ABA;
    border-radius: 4px;
    color: white;
}
.con-profile button{
    font-size: 14px;
    padding: 4px 18px;

}
.con-profile .delet{
    padding: 0 25px;
    margin: 25px 0;
}
.con-profile .delet::after{
    display: table;
    clear: both;
    content: "";
}
.con-profile .hof{
    position: fixed;
     left: 0;
    bottom: 0;
    width: 100vw; height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 21;
    display: none;
}
.con-profile .hof.show{
    display: block;
}
.con-profile .con-delet{
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50% , -50%);
    width: 300px; height: 150px;
    border: 1px solid;
    z-index: 22;
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    display: none;
}
.con-profile .con-delet.show{
    display: block;
}
.con-profile .con-delet .div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px ;
    font-weight: bold;
}
.con-profile .con-delet .div1 button:hover{
  background-color: transparent;
}
.con-profile .con-delet .div3{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.con-profile .con-delet .div3 button{
    background-color: #ddd4;
    margin: 0 4px;
    border-radius: 5px;
}
.con-profile .con-delet button:hover{
    background-color: #ddd;
}
.con-profile .con-delet .cancel{
    color: #ddd;
    font-size: 20px;
    cursor: pointer;
}
.con-profile .con-delet .cancel:hover{
    color: #000;
}
.con-profile hr{
    margin: 5px 0;
}
.con-profile button.de{
    float: left;
}
.con-profile .logout{
    padding: 0 25px;
}
.con-profile .logout button{
    background-color: #DC3545;
    padding: 4px 7px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.con-profile .mazed{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    flex-direction: column;
    background: linear-gradient(90deg ,  #FDF1F4 , #FFFBF0 ) ;
    height: max-content;
    padding: 15px 25px ; 
  }
  .con-profile .app{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: max-content;
    margin-top: 15px;
    padding-bottom: 10px;
  }
  .app-txt{
      flex: 50%;
   }
  .con-profile .app-btn a{
      background: linear-gradient(90deg , #912D5B , #562A6C) ;
      color: white;
      padding: 8px 12px;
      border-radius: 10px;
      cursor: pointer;
  }

.con-profile .add{
    margin: 25px;
    background-color: white;
}
.con-profile .add button{
    width: max-content;
    background-color: #977ABA;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
}
.con-profile .orders{
    margin: 35px  25px;
}
.con-profile .head-order{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;
    padding: 15px 5px;
}
.con-profile .head-order p{
    color: black;
}
.con-profile .order{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;
    padding: 15px 5px;
    border: 1px solid #ddd;
    margin-top: 7px ;
    font-size: small;
    width: 100%;
}
.con-profile .notifiaction{
    margin: 25px 25px 0 25px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4EDDA;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    color: #155724;
    display: none;
}
.con-profile .notifiaction.show{
    display: flex;
}
.con-profile .notifiaction p.cancel{
    font-size: 19px;
    cursor: pointer;
    color: #000;
}
.con-profile .notifiaction p.cancel:hover{
    color: #155724;
}
.con-profile .address-user{
    height: max-content;
}
.con-profile .cards-address{
    margin: 25px;
    display:flex;
    flex-wrap: wrap;
    width: max-content;
    gap: 25px;
    width: 90%;
}
.con-profile .cards-address .card-addres{
    width: 40%; height: 100px;
    border: 1px solid #977ABA;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 12px; 
    font-size: 13px;
}
.con-profile .cards-address .card-addres p{
    margin: 5px 0;
}
.con-profile .card-addres .trash{
  font-size: larger;
  color: #977ABA;
  height: max-content;
  cursor: pointer;
}
.con-profile .card-addres .trash:hover{
    color: black;
}
.loading{
    display: none;
    transition: all .2s;
    animation: loading 1s infinite ;
    margin-right: 4px;
  }
.btn-loading .loading{
    display: inline;
  }
@keyframes loading{
    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
@media screen and (max-width : 770px) {
    .con-profile{
        margin-top: 60px;
    }
    .con-profile .flex-right ,.con-profile .flex-left{
              flex: 100%;
     }
     .con-profile .flex-right{
        padding: 0;
        height: max-content;
        margin: 0;
     }
     .con-profile .flex-right .cs{
            width: 100%;
           justify-content: center;
           padding: 0;
     }
     .con-profile .flex-right .c{
        height: max-content;
        width: 80%;
        margin-right: 10%;
     }
     .app-txt{
        flex: 50%;
     }
     .con-profile .cards-address .card-addres{
        width: 45%;
     }   
}
@media screen and (max-width : 560px){
    .con-profile .cards-address .card-addres{
        width: 100%;
     }
}

@media screen and (max-width : 420px){
    .con-profile .app{
        flex-direction: column;
        height: 130px;
        padding: 0px;
        align-items: center;
    }
    .con-profile .app > div{
        width: 100%;
    }
    .con-profile .app .app-txt{
        text-align: right;
    }
    .app-btn{
        margin: 20px 0;
        text-align: center;
    }
    .con-profile .inputs{
        flex-direction: column;
    }
    .con-profile .inputs .input{
        width: 100%;
    }
   
}