.card-category{
     /*  flex flex-col items-center justify-betwee px-2 space-y-2 */
     margin: 0 5px;
}

.card-category h3{
    font-weight: 400;
    text-orientation: sideways;
    color: #977aba;
    word-spacing: 1px;
    font-size:19px;
}

@media screen and (max-width : 770px) {
    .card-category .img-category{
         width: 12rem ;
          height: 13rem
     }
}