header{
    background-color: #977ABA;
  }
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-center-con{
    width: 1150px;
    margin: auto;
    background-color: #977aba;
    flex-wrap: wrap;
    height: 130px;
    transition: all .6s;
}
.links .icon-left{
  display: none;
}
.nav-center{
    height: min-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;padding: 0;
  }
.nav-center .logo , .nav-center .icon{
    width: 20%; height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-center .logo{
    position: relative;
  }
  .nav-center .icon{
    display: flex;
    justify-content: end;
  }
  .nav-center .logo img{
    height: 100%; width: 60%;
    object-fit: contain ;
  }
.div-search{
    display: block;
    width: 39rem;
    display: flex;
    background-color: white;
    border-radius: 4px;
 }
 .div-search input{
  border: none;
  padding-right: 38px;
  outline: none;
 }
 .div-search-2{
    display: none;
    flex: 100%;
 }  
.icon{
    display: flex;
  }
  .icon a{
    margin: 0 10px;
    cursor: pointer;
  }
  .icon a.hide{
    display: none;
  }
  .icon a.s{
    display: none;
  }
  header .hide-menu{
    position: absolute;
    top: 10px; left: 15px;
    width: 20px; height: 20px;
    cursor: pointer;
    display: none;
 }
 .login{
  overflow: hidden;
  transition: all 0.5s;
  height: 47px;
}
.login.hide {
 height: 0;
 border: none;
} 
.login button{
 border-radius: 5px;
 font-size: 12px;
 padding: 4px 12px !important;
 border: 1px solid ;
 display: flex;
 color: white;
}
.login.hide button {
 display: none;
}
.items-search{
 position: absolute;
 top: 100%;
 width: 100%; height: max-content;
 background-color: white;
 display: none;
 border: 1px solid #977ABA;
 border-top: none;
}
.items-search li{
 padding: 7px;
 cursor: pointer;
 font-size: 14px;
 border-top: 1px solid #ddd;

}
.items-search li:hover{
  background-color: #e9e9e9 ;
  color: black;
}
.icon-search{
  position: absolute;
  top: 50%; 
  transform: translate(-50% , -50%);
  width: 30px;
 }
 .nav-center-con .icon .i{
  font-size: 2rem;
 }
 .nav-center .sup{
    font-size:15px ;
    color:white ;
    width: 20px;height: 18px;
  
        position: absolute;
    top: -3px;right: -5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
  }
.nav-center .cart{
  position: relative;
  width: 50px; height: 45px ;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.nav-center .bars{
  display: none;
}
/*=========================================================*/
.links{
  transition: all 0.5s;
  height: 40px;
  width: 100%;
  background-color: #796295;
}
.div-links{
  height: 40px;
  overflow: hidden;
  width: 100%;
 }
 .links ul.main{
  display: flex;
  justify-content: space-between;
  width:100%;    
}
.links ul.main > li:hover{
  background-color: white;
}
.links .down-icon{
  display:inline;
  color: white;
  margin: 0 5px;
}
.links .up-icon{
  display:inline;
  color: white;
  display: none;
  margin: 0 5px;
  color: #796295;
}
.links ul li:hover .down-icon{
  display: none;
}
.links ul li:hover .up-icon{
  display: inline;
}
/*==============*/
.links ul li{
  padding: 8px 12px;
  height: 50px;
  transition: all 0.6s;
  font-size: 14px;
}
.links .links-menu{
  position: absolute;
  top: 100%;  
  right: 0;
  padding: 10px 0; 
  transition: all 1s;
  background-color: transparent;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.6s;
  height: 0;
  overflow: hidden;
  transition: all 0.6s;
}
.links ul li:hover .links-menu{
  height: 120px;
}
.links .links-menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding: 10px 0;
  justify-content: space-around;
  width: 1140px;
  transition: all 0.6s;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.links .links-menu ul li{
  color: black;
   width: 30%;
   font-size: 15px;
}
.links .links-menu ul li:hover{
  color: #796295;
  cursor: pointer;
}
.links a{
  color: white;
}
.links ul li:hover a{
  color: #796295;
}
.links .h{
  display: none;
 }
 .links  .btn{
  display: none;
 }
 .links.hide{
  height: 0;
  overflow: hidden;
}
.links .hide-icon{
  font-size: x-large;
  color: white;
}
.price-cart{
  font-size: x-large;
  color: white;
}
.links .icon-left{
  display: none;
}
.links .back-icon{
  display: none;
}
.links body{
  display: none;
}
.links .back-icon .hide-icon{
  display: none;
}


 @media screen and(min-width : 770px) {
  .links.hide{
    height: 0;
    overflow: hidden;
 }
 }
 @media screen and (max-width : 1160px ){
  .m-con{
    width: 966px;
  }
  .nav-center{
    width: 800px;
  }
}
@media screen and (max-width : 950px ){
  .m-con{
    width: 800px;
  }
  .nav-center{
    width: 450px;
  }
  .links .links-menu ul{
    width: 800px;
    display: flex;
  }
  .links .links-menu ul li{
    flex: 30%;
  }
  .links{
    width: 100%;
    height: 40px;
  }
  .links .div-links{
    width: 100%;
    height: 40px;
    justify-content: space-around;
  }
  .links .div-links ul.main li:not(.h) {
    font-size: small;
    display: flex;
    padding: 0;
    align-items: center;
    height: 40px;
  }
  
}
@media screen and (max-width : 770px ){
 .m-con{
    width: 100%;
  }
 nav.login{
  display: none;
 }
 .nav-center-con {
  padding: 30px 15px ;
  height: 60px;
  width: 100%;
 }
 .nav-center{
  width: 80%;
 }
 nav{
    width: 600px;
  }
  .div-search{
    display: none;
 }  
 .div-search-2{
    display: flex;
    justify-content: center;
    display: block;
    margin: 15px 0;
    width: 80%;
    right: 10%;
    border-radius: 0;
    transition: all 0.5s;
 }
 .nav-center a{
  position: relative;
 }
 .nav-center-con .icon .i{
  font-size: x-large;
  position: relative;
 }
 sup.sup{
  position: absolute;;
  top: -2px; right: -10px; 
 }
 .nav-center{
  height: 40px;
 }
 .nav-center-con.show-search{
    height: 125px;
 }
 .nav-center .sup{
  right: -10px;
 }
 .div-search-2{
  margin-top: 25px;
 }
 .items-search{
    position: absolute;
    top: 100%;right: 0;
 }
 .logo{
  height: 50px !important;
  display: flex;
  margin: 0;padding: 0;
   width: 100px !important;
 }
 .logo .btn-logo{
  position: relative;
  width: 100px; height: 80px;
 }
 .logo .btn-logo img{
    position: absolute;
    top: 0;left: 0;
    width: 100%; height: 100%;
    object-fit: contain;
 }
 .nav-center .bars{
  margin-left: 20px;
  display: inline;
}
.nav-center img{
  height: 80px; width: 80%;
}
.nav-center .bars-icon{
  font-size:33px !important ;
  font-weight: bolder;
}
  /*=======================*/
  .links{
    display: block;
    height: 100vh;
    position: absolute;
    top: 0;right: 0;
    width: 0%;  
    background-color:#977ABA ;
    padding-top: 35px;
    overflow-y: auto;
    z-index: 5;
  }
  .links.show-menu{
    width: 60%;
 }
  .div-links{
    margin: 0;padding: 0;
    width: 100%;
    height: max-content !important;
  }
.links ul.main{
    display: flex;
    flex-direction: column;
    width: 100% ;
    transition: all 1s;
 }
.links ul.main li{
    width: 100%;
    padding: 25px 10px !important;
    cursor: pointer;
 }
  .links ul.main li:hover{
    background-color: transparent;
  }
  .links ul.main li:hover .up-icon{
    display: none;
  }
  .links ul.main li a{
    font-weight: bold;
    color: white ;
  }
  .links ul.main li:hover a , .links ul.main li:hover .icon{
    color: white;
  }
  .links  .links-menu{     
    position: absolute;
    top: 0;right:0%; 
    width: 100%; height:100vh;
 }
 
 .links  .links-menu ul{
    display: none;
    height: max-content;
 }
 .links .links-menu ul li{
  width: 100%;
  padding: 15px 10px !important;

  color: white;
 font-weight: bold;
}
.links.show li.show .links-menu{
  display: block;
  height: 100vh;
  width: 100%;
}
.links.show li.show ul{
  display: flex;
  flex-direction: column;
  background-color: #977ABA;
  height: max-content;
  border: none;
}
.links.show  li.show .links-menu ul li{
  width: 100%;
  color: white;
}
.links.show  li.show .links-menu ul li:hover{
  background-color: #796295;
  color: white;
}
.links .back-icon{
  display: none;
  position: absolute;
  top: 8px; right: 15px ;
  color: white !important;
  border-radius: 5px;
  padding: 0;
}
.links .back-icon .hide-icon{
  color: white;
  font-size: 19px;
  margin: 0;padding: 0;
}
 .links.show ul.main{
  transform: translateX(100%);
 }
 .links.show .links-menu{
  right: 100%;
 }

 .links.back ul.main{
  transform: translateX(0%);
 }
  .links  ul.main > li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .links  ul.main > li .icon-left{
    padding: 0 10px;
  }
 .links .down-icon{
    display: none;
  }
  .links .icon-left{
    display: inline;
    color: white;
  }
  .links li{
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .links .back-icon .hide-icon{
    display: block;
  }
  
 /*=============*/

  header .hide-menu{
        display: block;
     }
     .icon a.show{
        display: inline;
      }
  .body{
      position: absolute;
      top: 0;left: 0;
      width: 100%;height: 100vh;
      opacity: 0.5;
      background-color: #555;
      z-index: 0;
   }
   
   .links .h{
    display: inline;
   } 
    .price-cart{
    display: none;
   }
      .links::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 5px;
    }
    .links::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
     .links  .btn{
           width: 100%;
           display: flex;
           background-color: transparent;
           justify-content: space-around;
           margin: 15px 0;
           flex-wrap: wrap;
      }
      .links button{
          border: 1px solid white;
          color: white;
          padding: 2px 6px;
          margin: 5px;
          flex: 30%;
          text-align: center;
      }
    header  .country{
        width: 80%;
      }
  }

@media screen and (max-width : 475px ){
    .m-con{
      width: 100%;
    }
    .links button{
      border: 1px solid white;
      color: white;
      padding: 2px 6px;
      margin: 5px;
      flex: 90%;
      text-align: center;
  }
  }

 .body{
    position: fixed;
    top: 0;left: 0;
    width: 100%;height: 100vh;
    opacity: 0.5;
    background-color: #555;
    z-index: 0;
 }
 .body-country{
  position: fixed;
  top: 0;left: 0;
  width: 100%;height: 100vh;
  opacity: 0.5;
  background-color: #555;
  z-index: 25;
  display: none;
}
 header .body-country.show{
  display: block;
 }
.country{
    position: absolute;
    top: 50vh;left: 50vw;
    transform: translate(-50% , -50%);
    background-color: white;
    z-index: 26;
    padding: 15px;
    border: 1px solid #ddd;
    width: 30%;
    display: none;
}
.country.show{
  display: block;
}
.top-country{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.country .menu{
  width: 100%;
}
.country .menu select{
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
}
.country .btns{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px ;
}
.country .btns button{
  background-color: #ddd4;
  padding: 5px 12px;
  border-radius: 5px;
  margin: 5px ;
}
.country .btns button.save{
  background-color: #977ABA;
  color: white;
}
.country .btns button:hover{
  background-color: #ddd;
}
.country .btns button.save:hover{
  background-color: #796295;
}