header{
    background-color: #977ABA;
  }
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-center-con{
    width: 1150px;
    margin: auto;
    background-color: #977aba;
    flex-wrap: wrap;
    height: 130px;
    transition: all .6s;
}
.nav-center{
    height: min-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;padding: 0;
  }
.nav-center .logo , .nav-center .icon{
    width: 20%; height: 100%;
    display: flex;
    align-items: center;
  }
  .nav-center .logo{
    position: relative;
  }
  .nav-center .icon{
    display: flex;
    justify-content: end;
  }
  .nav-center .logo img{
    height: 100%; width: 60%;
    object-fit: contain ;
  }
.div-search{
    display: block;
    width: 39rem;
    display: flex;
    background-color: white;
    border-radius: 4px;
 }
 .div-search input{
  border: none;
  padding-right: 38px;
  outline: none;
 }
 .div-search-2{
    display: none;
    flex: 100%;
 }  
.icon{
    display: flex;
  }
  .icon a{
    margin: 0 10px;
    cursor: pointer;
  }
  .icon a.hide{
    display: none;
  }
  .icon a.s{
    display: none;
  }
  header .hide-menu{
    position: absolute;
    top: 10px; left: 15px;
    width: 20px; height: 20px;
    cursor: pointer;
    display: none;
 }
 .login{
  overflow: hidden;
  transition: all 0.5s;
  height: 47px;
}
.login.hide {
 height: 0;
 border: none;
} 
.login button{
 border-radius: 5px;
 font-size: 12px;
 padding: 4px 12px !important;
 border: 1px solid ;
 display: flex;
 color: white;
}
.login.hide button {
 display: none;
}
.items-search{
 position: absolute;
 top: 100%;
 width: 100%; height: max-content;
 background-color: white;
 display: none;
 border: 1px solid #977ABA;
 border-top: none;
}
.items-search li{
 padding: 7px;
 cursor: pointer;
 font-size: 14px;
 border-top: 1px solid #ddd;

}
.items-search li:hover{
  background-color: #e9e9e9 ;
  color: black;
}
.icon-search{
  position: absolute;
  top: 50%; 
  transform: translate(-50% , -50%);
  width: 30px;
 }
 .nav-center-con .icon .i{
  font-size: 2rem;
 }
/*=========================================================*/
.links{
  transition: all 0.5s;
  height: 40px;
  width: 100%;
  background-color: #796295;
}
.div-links{
  height: 40px;
  overflow: hidden;
  width: 100%;
 }
 .links ul.main{
  display: flex;
  justify-content: space-between;
  width:100%;    
}
.links .down-icon{
  display:inline;
  color: white;
}
.links ul li{
  padding: 8px 12px;
  height: 50px;
  transition: all 0.6s;
  font-size: 14px;
}
.links .links-menu{
  position: absolute;
  top: 100%;  
  right: 0;
  padding: 10px 0; 
  transition: all 1s;
  background-color: transparent;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.6s;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.links ul li:hover .links-menu{
  height: 100px;
}
.links .links-menu ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px 0;
  justify-content: space-around;
  width: 1140px;
  transition: all 0.6s;
  border-bottom: 1px solid #796295;
  border-right: 1px solid #796295;
  border-left: 1px solid #ddd;
}
.links .links-menu ul li{
  color: black;
   width: 30%;
   font-size: 15px;
}
.links .links-menu ul li:hover{
  color: #796295;
  cursor: pointer;
}
.links ul li:hover {
  background-color:white ;
}
.links a{
  color: white;
}
.links ul li:hover a{
  color: #796295;
}
.links .d{
  display: none;
 }
 .links  .btn{
  display: none;
 }
 .links.hide{
  height: 0;
  overflow: hidden;
}
.links .hide-icon{
  font-size: x-large;
  color: white;
}
.links ul li:hover  .down-icon{
  color: #796295;
}
.price-cart{
  font-size: x-large;
  color: white;
}
 @media screen and(min-width : 770px) {
  .links.hide{
    height: 0;
    overflow: hidden;
 }
 }
 @media screen and (max-width : 1160px ){
  .m-con{
    width: 966px;
  }
  .nav-center{
    width: 800px;
  }
}
@media screen and (max-width : 950px ){
  .m-con{
    width: 800px;
  }
  .nav-center{
    width: 450px;
  }
  .links .links-menu ul{
    width: 800px;
  }
  
}
@media screen and (max-width : 770px ){
  .m-con{
    width: 100%;
  }
 nav.login{
  display: none;
 }
 .nav-center-con {
  padding: 30px 15px ;
  height: 60px;
  width: 100%;
 }
 .nav-center{
  width: 80%;
 }
  nav{
    width: 600px;
  }
   .div-links{
        text-align: center;
        margin: 0;padding: 0;
        height: 95vh;
    
       } 
    .div-search{
        display: none;
     }  
     .div-search-2{
        display: flex;
        justify-content: center;
        display: block;
        margin: 15px 0;
        width: 80%;
        right: 10%;
        border-radius: 0;
        transition: all 0.5s;
     }
     .nav-center a{
      position: relative;
     }
     .nav-center-con .icon .i{
      font-size: x-large;
      position: relative;
     }
     sup.sup{
      position: absolute;;
      top: -2px; right: -10px; 
     }
     .nav-center{
      height: 40px;
     }
     .nav-center-con.show-search{
        height: 120px;
     }
     .div-search-2{
      margin-top: 25px;
     }
     .items-search{
        position: absolute;
        top: 100%;right: 0;
     }
     .links .d{
      display: inline;
     } 
     .links{
        display: block;
        height: 100vh;
        position: absolute;
        top: 0;right: 0;
        width: 0;  
        background-color:#977ABA ;
        padding-top: 20px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 5;
     }
      .price-cart{
      display: none;
     }
     .links .div-links{
      width: 100%; 
      height: max-content;
     }
     .links.hide{
      display: block;
        height: 100vh;
        position: absolute;
        top: 0;right: 0;
        width: 0;  
        background-color:#977ABA ;
        padding-top: 20px;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 5;

     }
     .links ul.main{
      display: flex;
      flex-direction: column;
      width: 100%;
     justify-content: unset;
     }
     .links ul li{
      width: 100%;
      text-align: start;
      border-bottom: 1px solid rgba(255,255,255,0.3);
     }
     .links.show-menu{
        width: 60%;
     }
     .links .links-menu{
        display: flex;
        position: relative;
        top: 0; padding: 0;
        height: 0; display: none;
        transition: all 0.5s;
     }
     .links .links-menu ul{
        flex-direction: column;
        width: 100%;
        border: none;
     }
     .links ul li .links-menu ul li{
        width: 100%;
        height: 30px;
     }
     .links ul li.show{
        display: block;
        height: max-content;
        background-color: white;
     }
     .body{
      position: absolute;
      top: 0;left: 0;
      width: 100%;height: 100vh;
      opacity: 0.5;
      background-color: #555;
      z-index: 0;
     }
     .links ul li.show a{
      display: block;
      height: max-content;
      color: #977ABA;
   }
     .links ul li.show li{
        display: block;
        height: max-content;
     }
     .links ul li.show .links-menu{
        display: block;
        height: max-content;
        opacity: 1;
     }
     .links ul li.show .links-menu ul{
        display: block;
        height: max-content
     }
     header .hide-menu{
        display: block;
     }
     .icon a.show{
        display: inline;
      }
      .links::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        background: gainsboro;
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 5px;
    }
    .links::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
     .links  .btn{
           width: 100%;
           display: flex;
           background-color: transparent;
           justify-content: space-around;
           margin: 15px 0;
           flex-wrap: wrap;
      }
      .links button{
          border: 1px solid white;
          color: white;
          padding: 2px 6px;
          margin: 5px;
          flex: 30%;
          text-align: center;
      }
  }
  @media screen and (max-width : 400px ){
    .m-con{
      width: 100%;
    }
    .links button{
      border: 1px solid white;
      color: white;
      padding: 2px 6px;
      margin: 5px;
      flex: 90%;
      text-align: center;
  }
  }