*{
  padding: 0; margin: 0 ;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}


.category{
  height: max-content;
  user-select: none;
}
.con-cat{
  scroll-behavior: smooth;
  overflow-x: scroll ;
  -ms-overflow-style: none;
}

.skeleton{
  display: flex;
  gap: 0 20px;
}
.skeleton div{
  height: 350px;
  width: 200px;
}
.div-photo img{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  object-fit: cover;
}

.con-cat::-webkit-scrollbar{
  height: 6px;
}
.con-cat::-webkit-scrollbar-track{
background-color: #ddd;
}
.con-cat::-webkit-scrollbar-thumb{
  background-color: #977ABA;
  }
@media screen and (max-width : 767px ){
   .con-register {
    height: 650px;
   }
   .con-register .register{
    width: 80%; 
   }
   .con-register .txt{
    flex: 100%;
   }
   .con-register .form{
    padding: 0 25px 0 0;
   }
   .con-register .form{
    flex: 100%;
   }
    .login.m button {
      display: inline;
    }

} 
/*====== end code ahmed yasser========*/

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-link {
  color: rgb(112, 76, 182);
}
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}