.con-register {
    position: relative ; 
    margin-top: 220px;
    width: 100%; height: 530px;

}
.con-register .register{
    position: absolute;
    top: 40%; left: 50%;
    height: max-content;
    width: 450px;
    transform: translate(-50% , -50%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 30px;
}
.con-register.com-re{
    height: max-content;
    margin-top: 300px;
}
.con-re .register{
    margin-top: 75px;
    height: max-content;
}
.con-register .top-txt{
    padding: 0 15px 15px 15px ;
}
.con-register h2{
    font-size: x-large;
    font-weight: bold;
}
 .con-register p{
    color: black ;
    font-weight: 100;
 }
 .con-register .input{
    display: flex;
    gap: 15px;
    margin: 10px  0;
 }
 .con-register input{
   padding: 12px 15px; 
   border-radius: 5px;
   border: 1px solid #ddd;
   direction: ltr;
 }
 .con-register form input{
    margin: 10px 0;
 }
 
 .con-register select{
    direction: ltr;
    border-radius: 5px;
   border: 1px solid #ddd;
 }
 .con-register .sub{
    margin: 20px 0;
    width: 100%;
 }
 .con-register button{
    width: 100%;
    background-color: #977ABA;
    color: white;
    padding: 12px;
    border-radius: 5px;
 }
 .con-register .error{
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
 }
 .con-register input{
    width: 100%;
    direction: ltr !important;
 }
 .con-register .sub input{
    background-color: #977ABA;
    cursor: pointer;
 }
 .con-register .chek-box{
    display: inline;
    margin: 0 3px;
    border-radius: 0;
 }
 .con-register .btn-sub{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
 }
.con-register.con-re select{
   height: 50px;
   margin-top: 10px;
}
.con-register input{
   direction: ltr !important;
   text-align: end;
}
 @media screen and (max-width :770px) {
    .con-register{
        margin-top: 100px;
    }
 }
 @media screen and (max-width :460px) {
   .con-register .register{
     width: 400px;
   }
}
@media screen and (max-width :400px) {
   .con-register .register{
     width: 365px;
   }
}
@media screen and (max-width :370px) {
   .con-register .register{
      width: 290px;
    }
}